google-cloud-secret-manager                                                                                                                                                                                       
google-cloud-compute
